[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = git@github.com:mattn/go-sqlite3.git
[submodule "src/github.com/spacemonkeygo/errors"]
	path = src/github.com/spacemonkeygo/errors
	url = git@github.com:spacemonkeygo/errors.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = git@github.com:golang/net.git
[submodule "src/github.com/spacemonkeygo/spacelog"]
	path = src/github.com/spacemonkeygo/spacelog
	url = git@github.com:spacemonkeygo/spacelog.git
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = git@github.com:jinzhu/gorm.git
[submodule "src/github.com/jinzhu/inflection"]
	path = src/github.com/jinzhu/inflection
	url = git@github.com:jinzhu/inflection.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:lib/pq.git
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = git@github.com:golang/oauth2.git
[submodule "src/google.golang.org/cloud"]
	path = src/google.golang.org/cloud
	url = https://code.googlesource.com/gocloud
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = git@github.com:golang/crypto.git
[submodule "src/github.com/jtolds/cwbench"]
	path = src/github.com/jtolds/cwbench
	url = git@github.com:jtolds/cwbench.git
[submodule "src/cloud.google.com/go"]
	path = src/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
[submodule "src/github.com/googleapis/gax-go"]
	path = src/github.com/googleapis/gax-go
	url = https://github.com/googleapis/gax-go
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/gopkg.in/go-webhelp/whoauth2.v1"]
	path = src/gopkg.in/go-webhelp/whoauth2.v1
	url = https://github.com/go-webhelp/whoauth2
[submodule "src/gopkg.in/webhelp.v1"]
	path = src/gopkg.in/webhelp.v1
	url = https://github.com/go-webhelp/webhelp
